ion-grid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

ion-grid #logo{
    content: "";
    position: relative;
    background: transparent;
}

#container{
    background-image: url('../../../assets/Backgrounds/wallpaper2.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 0px;
    gap: 18px;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    #logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        ion-img{
            width: 50%;
        }
    }
    #form{
        
        padding: 0px;
        gap: 16px;
        margin: 2vh 0vh;

        ion-col{

            ion-label{
                margin-left: 3%;
                // font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                color: #221E1F;

                /* Inside auto layout */

                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;
            }


            div{
                border-color: #000000;
                border-radius: 25px;
                background-color: var(--ion-color-light);
                font-size: 16px;
                ion-input{
                    overflow-x: hidden;
                    margin-left: 5%;
                    font-size: 14px;
                }
            }

            ion-checkbox{
                font-size: 14px;
                --size: 18px;
            }

            span{
                font-size: 13px;
                color: darkgray;
            }

        }
    }

    #button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0px;
        isolation: isolate;
        margin-top: 2vh;
        /* Inside auto layout */

        flex: none;
        order: 3;
        align-self: stretch;
        flex-grow: 0;

        ion-col{

            ion-button{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 300px;
                font-size: 14px;
                line-height: 20px;
            }
            ion-label{
                margin-left: 3%;
                // font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                color: #221E1F;

                /* Inside auto layout */

                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;
            }
        }  
    }
}