
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4vh;
    background: url('../../../assets/Backgrounds/Background.png');

    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    #logoTitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 10px ;
        gap: 5px;
        margin-top: 1vh;

        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        img{
            width: 50%;
            height: 200px;
            object-fit: cover;
        }
        ion-label{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 45px;
            text-align: center;
            color: var(--ion-color-primary);

        }
    }

    #dobBtn{

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            img{
                width: 25%;
            }
            ion-input{
                position: absolute;
                opacity: 0;
                top: 0;
                left: 47%;
                width: 8%;
                height: 80%;
                background-color: red;

                ion-icon{
                    background-color: blue;
                }
            }
            ion-label{
                color: var(--ion-color-primary);
                font-size: 32px;
            }
        }
    }
    #buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 38px;
        
        /* Inside auto layout */
        
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
        ion-col{

            ion-button{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
            }
        }

    }
}

#back{
    color: var(--ion-color-light);
}
