.contenedor {
    width: 100%;
    height: 100vh;
    background: var(--ion-color-primary);
}
.cabecera {
    /* Cabecera */
    /* Auto layout */
    padding: 24px 0px 0px;
}

.textCabecera {
    /* Textos */
/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 1px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.imgCabecera{
/* vector */
/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 100%;
height: 280px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
}

.imgBackgroud {
    width: 100%;
    height: 280px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.textTitle{
width: 100%;


font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height */

text-align: center;

color: var(--ion-color-light);


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.subtitle {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.registrateBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 8%;
    padding: 0px 10px;
    gap: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    ion-label{
        

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 38px;
        /* identical to box height */


        color: #FFFFFF;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
}
.signInBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 1px;
    isolation: isolate;

    //Texto

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

color: #221E1F;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.details{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 7px;

    background-color: var(--ion-color-primary);

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    ion-label{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        text-align: center;
        margin: 0.5vh 0px;

    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;

        i{
            color: black;
        }
    }
}
